<!--This is the html file for the chat rooms that are created-->
<!--It contains the basic tags for the chat site-->
{% load static %}
<!DOCTYPE html>
<html>
  <!--We will be using some bootstrap to style this page-->
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />


    <!--Adding some custom style-->
    <style>
      #chat-message-input {
        background-color: rgba(255, 255, 255, 0.164);
      }

      #chat-message-submit {
        background-color: rgba(255, 255, 255, 0.164);
      }

      #messagess {
        border: 1px solid black;
        height: 200px;
        overflow: auto;
      }

      #text {
        background-color: #3cce1e;
      }
    </style>
  </head>

<body>
  <div id="frame">
    <div class="panelside" id="sidepanel">
      <!---Shows the profile of the sender of the texts-->
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" src="{% static 'images/woman-512.png' %}" class="online" alt="" />
          <p>Nikola Tesla</p>
        </div>
      </div>



      <!--The available contacts-->
      <!--Though not functional, the list has been placed to imitate what a complete chat app would be-->
      <!--It contains two contacts, the areas are not selectable-->
      <!--Only contains previews-->
      <div id="contacts">
        <ul>
          <li class="contact">
            <div class="wrap">
              <span class="contact-status online"></span>
              <img src="{% static 'images/woman-512.png' %}" alt="" />
              <div class="meta">
                <p class="name">Thomas Edison</p>
                <p class="preview">Available</p>
              </div>
            </div>
          </li>
          <li class="contact active">
            <div class="wrap">
              <span class="contact-status busy"></span>
              <img src="{% static 'images/contact.webp' %}" alt="" />
              <div class="meta">
                <p class="name">Isaac Newton</p>
                <p class="preview">The law of inertia</p>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>

    <!--The chat content-->
    <!--Contains the sent messages and the icon of the sender-->
    <!--Also contains the received messages from the other people in the room-->
    <div class="content">
      <div class="contact-profile">
        <img src="{% static 'images/woman.png' %}" alt="" />
        <p>{{ username }}</p>
      </div>

      <!--The messages fall here-->
      <!--They are posted here and they all appear here-->
      <div class="messages" id="messagess">
        <div id="top"></div>
        <ul id="chat-log">
          {% comment %} <li class="sent" id="text">
            <img src="{% static 'images/contact.webp' %}" alt="" />
            <p>Hey there</p>
          </li>
          <li class="replies" id="text">
            <img src="{% static 'images/contact.webp' %}" alt="" />
            <p>Hello, I am fine. How are you.</p>
          </li> {% endcomment %}
        </ul>
        <div id="bottom"> <br></div>
      </div>

      <!--The div marking the bottom part of the page-->
      <!--This is used to aid in the automatic scrolling of the web page-->
      <div id=bottom></div>
      

      <!--Contains the section to input the user message and the send button-->
      <!--It is placed at the bottom and out of the content section to ensure there is no overlap-->
      <div class="message-input">
        <div class="wrap ">
          <input id="chat-message-input" type="text" placeholder="Start typing..." autocomplete="off" />
          <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
          <button id="chat-message-submit" class="submit">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </button>
        </div>
      </div>

    </div>


  </div>


<script src="{% static 'main.js' %}"></script>
<script src="{% static 'reconnecting-websocket.js' %}"></script>

  <!--The javascript script to handle the websocket openning and the buttons-->
  <!--We will be using a reconnecting websocket-->
  <!--The link to the chat that was created in the previous page is used for this chat room-->
  <!--The script also creates the message and handles the chat interface to update the page-->
  <!--Also the script to handle auto scroll is placed here-->
<script>

    //Creating the variables to hold the room name and the username
    var roomName = {{ room_name_json }};
    var username = {{ username }};

    //The websocket is created with the link to the room
    //The websocket we are using is a reconnecting websocket that will attempt to reconnect after closrure
    //The name of the websocket is a combination of the room name that was given as an input in the chat box
    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');


    //When the websocket is open, the function fetchmessages is called to get the messages and display them
    chatSocket.onopen = function(e) {
      fetchMessages();
    }

    //This handles the situation where a new message is sent
    //When a message is sent to the server, this function is called and the text is relaayed to the recepient
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        //checks the value of the command and checks whether the function message or new_message is called
        if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            createMessage(data['messages'][i]);
          }
        } else if (data['command'] === 'new_message'){
          createMessage(data['message']);
        }
    };


    //handles the situation where the websocket is unexpectedly closed
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly'); //The error displayed when the websocket closes
    };

    //Handles the text that is inputted into the text field
    //Listens to the key enter and uses it to also senf the text
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  //If the enter key is pressed, the text is sent
            document.querySelector('#chat-message-submit').click();
        }
    };

    //if the submit message is pressed, the text is sent.
    //The text that was sent is converted to JSON so that it is handled
    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.getElementById('chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({ //The message is sent in JSOn format
            'command': 'new_message',
            'message': message,
            'from': username
        }));

        messageInputDom.value = '';
    };
    
    //Checks if the messages have been sent to the server
    //The message are then sent and diplayed
    function fetchMessages() {
      chatSocket.send(JSON.stringify({'command': 'fetch_messages' }));
    }


    //The function that creates the messages
    //In this function, the message that has been fetched from the server is now modified aptly to be displayed
    //The message is created and displayed 
    //When the message is receved, a new list item is created containing the message
    function createMessage(data) {
      var author = data['author']; //The author of the message
      var msgListTag = document.createElement('li'); //The new element is created
      var imgTag = document.createElement('img'); //The icon containing the image is crated
      var pTag = document.createElement('p');
      pTag.textContent = data.content;
      imgTag.src = "{% static 'images/woman-512.png' %}";
      
      //Confirming if the message being displayed is to be shown in the sent or received side
      if (author === username) {
        msgListTag.className = 'sent'; //If the author is the same as the username the text is sent
      } else {
        msgListTag.className = 'replies'; //If the two are not the same, the text is a reply
      }
      msgListTag.appendChild(imgTag);
      msgListTag.appendChild(pTag);
      document.querySelector('#chat-log').appendChild(msgListTag);
    }

    //Adding automatic scrolling to the page
    //Ensures the most recent message is always visible
    //function getMessages(letter) {
     // var div = $("#messagess");
     // div.scrollTop(div.prop('scrollHeight'));
    //}

    //The function to add scrolling
    //$(function() {
    //  getMessages();
    //});


</script>
</body>

</html>